body{
    background: rgb(249,169,140);
background: linear-gradient(112deg, rgba(249,169,140,1) 0%, rgba(213,234,234,1) 52%, rgba(234,231,213,1) 99%);
}

//adding css to the first box for alignment 
.body1 {
    
    display: flex;
    background-color: white;
    position: absolute;
    left: 550px;
    top: 119px;
    height: 300px;
    width: 400px;
}

//aligning the "Create One" hyperlink
.signup{
    border: 2px ;
    padding-top: 10px;
    width: 500px;
}

//for the "sign in with a security key " hyperlink
.key
{
    border: 2px; 
    padding-top: 10px;
}

//styling a blue button 
#btn{
    background-color:rgb(38, 103, 224);
    color: white;
    position: relative;
    top: 40px;
    left: 230px;
    cursor: pointer;
    width: 80px;
}
//positioning the 2nd box 
.body2{
    display: inline-block;
    position:absolute;
    top: 450px ;
    left:550px;
    height: 50px;
    background-color: white;
    
    width: 400px;
    border: 2px ;
}

//aligning the text inside box 2
.options{
    display: inline-block;
    position:absolute;
    top: 10px;
    left: 50px;
    font-size: large;

}

//positioning the key icon 
i{
    position: absolute;
    top: 13px;
    left: 10px;
}

// making an input space  
input[type="email" i] {
    outline:none;
width: 220px;
height: 30px;
font-size: 14px;
border:none;
border-bottom: 2px solid black;
width: 310px;

    
}
//adding space to the content in box1 
.outline{
       padding: 30px 0px 0px 50px;
}
//positioning content in box2
.align{
    position: relative;
    display:block;
    left: 20px;
    top: 4px;
}
